@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
html{
	width: 100%;
	font-family: "MS_Mincho";
}
body{
	border: 0.5em inset pink;
	max-width: 100%;
	line-height: 2em;
	color: #000;
	margin: 0 auto;
	background: black;
}
body h1{
	text-align: center;
	background: purple;
}
h1 a,
.entrybody a{
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	color: pink;
	pointer-events: none;
}
a.list{
	cursor: pointer;
	text-decoration: none;
	font-size: 1.2em;
	padding: 1em;
	display: block;
	line-height: 2.5em;
	background: black;
	color: white;
	font-weight: bold;
	text-align: center;
}
body img{
	max-width: 100%;
}
.entrybody{
	text-align: center;
	padding: 0 1em;
	background: white;
}
.entrybottom{
	border-bottom: 2em solid #ff446a;
	color: white;
	background: green;
	text-align: right;
}
